<a href="https://colab.research.google.com/github/sureshmecad/CloudyML-AI-FOR-ALL/blob/main/7_Exploratory_Data_Analysis_CloudyML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center><u> Exploratory Data Analysis</u> </center>

## 1. Importing the necessary libraries

Import the libraries that will be used in this notebook

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation
%matplotlib inline 
sns.set(color_codes=True)
from scipy import stats
import warnings
warnings.filterwarnings("ignore")

## 2. Download the dataset and load into dataframe

<p style='text-align: right;'> 5 points</p>

Please download the dataset from [here](https://www.kaggle.com/CooperUnion/cardataset) and extract the csv file. Load the csv file as pandas dataframe.

In [2]:
from google.colab import files
uploaded = files.upload()

Saving data.csv to data (6).csv

In [3]:
## load the csv file 
df = pd.read_csv("data.csv")

In [4]:
## print the head of the dataframe
df.head()

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500

[5 rows x 16 columns]

## 3. Check the datatypes

<p style='text-align: right;'> 2 points</p>

In [5]:
# Get the datatypes of each columns number of records in each column.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

## 4. Dropping irrevalent columns

Reference:-https://www.youtube.com/watch?v=cRurWEfmxC0
<p style='text-align: right;'> 5 points</p>

Not all the columns are important to us in the given dataframe, and hence we would drop the columns that are irrevalent to us. <br>

The list cols_to_drop contains the names of the cols that are irrevalent, drop all these cols from the dataframe

cols_to_drop = ["Engine Fuel Type", "Market Category", "Vehicle Style", "Popularity", "Number of Doors", "Vehicle Size"]

In [6]:
# initialise cols_to_drop
cols_to_drop = ["Engine Fuel Type", "Market Category", "Vehicle Style", "Popularity", "Number of Doors", "Vehicle Size"]

In [7]:
# drop the irrevalent cols and print the head of the dataframe
df.drop(cols_to_drop, inplace=True, axis=1)

In [8]:
df.head()

  Make       Model  Year  ...  highway MPG  city mpg   MSRP
0  BMW  1 Series M  2011  ...           26        19  46135
1  BMW    1 Series  2011  ...           28        19  40650
2  BMW    1 Series  2011  ...           28        20  36350
3  BMW    1 Series  2011  ...           28        18  29450
4  BMW    1 Series  2011  ...           28        18  34500

[5 rows x 10 columns]

## 5.  Renaming the columns

<p style='text-align: right;'> 5 points</p>

We have already dropped the unneccesary columns, and now we are left with useful columns. One extra thing that we would do is to rename the columns such that the name clearly represents the essence of the column.

The given dict represents (in key value pair) the previous name, and the new name for the dataframe columns

In [9]:
rename_cols = {"Engine HP": "HP", "Engine Cylinders": "Cylinders", "Transmission Type": "Transmission", 
               "Driven_Wheels": "Drive Mode","highway MPG": "MPG_H", "city mpg": "MPG-C", "MSRP": "Price" }

In [10]:
# use a pandas function to rename the current columns with names in rename_cols 
df.rename(columns = rename_cols, inplace=True)

In [11]:
# Print the head of the dataframe
df.head()

  Make       Model  Year     HP  ...        Drive Mode MPG_H MPG-C  Price
0  BMW  1 Series M  2011  335.0  ...  rear wheel drive    26    19  46135
1  BMW    1 Series  2011  300.0  ...  rear wheel drive    28    19  40650
2  BMW    1 Series  2011  300.0  ...  rear wheel drive    28    20  36350
3  BMW    1 Series  2011  230.0  ...  rear wheel drive    28    18  29450
4  BMW    1 Series  2011  230.0  ...  rear wheel drive    28    18  34500

[5 rows x 10 columns]

## 6. Dropping the duplicate rows

Reference: https://www.youtube.com/watch?v=bFVMR1qfzXo
<p style='text-align: right;'> 10 points</p>

There are many rows in the dataframe which are dublicate, and hence they are just repeating the information. Its better if we remove these rows as they don't add any value to the dataframe. 

For given data, we would like to see how many rows were duplicates. For this, we will count the number of rows, remove the dublicated rows, and again count the number of rows.

In [12]:
# number of rows before removing duplicated rows

In [13]:
# drop the duplicated rows and print its head

In [14]:
# Count Number of rows after deleting duplicated rows

## 7. Dropping the null or missing values



<p style='text-align: right;'> 10 points</p>

There are many values which are missing, in pandas dataframe these values are reffered to as np.nan. We want to deal with these values beause we can't use nan values to train models. Either we can remove them to apply some strategy to replace them with other values.

To keep things simple we will be dropping nan values

In [15]:
# check for total nan values in each columns

In [16]:
# drop missing values from df

In [17]:
# Make sure that missing values are removed
# check total nan values in each col again

In [18]:
#Describe statistics of df

## 8. Removing outliers


Reference: https://www.youtube.com/watch?v=yxTRB0boTVg

Sometimes a dataset can contain extreme values that are outside the range of what is expected and unlike the other data. These are called outliers and often machine learning modeling and model skill in general can be improved by understanding and even removing these outlier values.

### Detecting outliers

There many techiniques to detect outliers. Let us first see the simplest form of visualizing outliers.

Box plots are a graphical depiction of numerical data through their quantiles. It is a very simple but effective way to visualize outliers. Think about the lower and upper whiskers as the boundaries of the data distribution. Any data points that show above or below the whiskers, can be considered outliers or anomalous.

<p style='text-align: right;'> 15 points</p>

In [19]:
## Plot a boxplot for 'Price' column in dataset.

In [20]:
## PLot a boxplot for 'HP' columns in dataset

In [21]:
## Plot a boxplot for 'Cylinders' column in dataset

print all the columns which are of int or float datatype in df. 

Hint: Use loc with condition

In [22]:
#code here

Save the column names of the above output in variable list named 'l'

In [23]:
#code here

### Outliers removal techniques

Reference: https://www.youtube.com/watch?v=A3gClkblXK8
<p style='text-align: right;'> 25 points</p>

1. **Using IQR Technique**

**Here comes cool Fact for you!**

IQR is the first quartile subtracted from the third quartile; these quartiles can be clearly seen on a box plot on the data.

The anatomy of boxplot is given below.

![image.png](attachment:image.png)

- Calculate IQR  and give a suitable threshold to remove the outliers and save this new dataframe into df2.

Let us help you to decide threshold: Outliers in this case are defined as the observations that or below (Q1 − 1.5x IQR) and above (Q3 + 1.5x IQR)

In [24]:
## Your code here

2. **Outlier removal using Z-score function**

Reference:- https://www.youtube.com/watch?v=rfmfXa0kdrQ
  - The intuition behind Z-score is to describe any data point by finding their relationship with the Standard Deviation and Mean of the group of data points.

We will use Z-score function defined in scipy library to detect the outliers in dataframe df having columns which are in variable 'l'

In [25]:
# calculate absolute zscore values for each columns present in l, save it in variable z. Print z

Hey buddy! do you understand the above output? Difficult right? let’s try and define a threshold to identify an outlier so that we get a clear picture of whats going on.

We will not spare you without a good fact! ;)

In most of the cases a threshold of 3 or -3 is used i.e if the Z-score value is greater than or less than 3 or -3 respectively, that data point will be identified as outliers.

In [26]:
# print the values in dataframe which are less than the threshold and save this dataframe as df3

print the shape difference of df df2 and df3.

Interesting right? Bam! you have removed 489 rows from the dataframe which was detected as outlier by Z-score technique.
and removed 1636 rows from the dataframe which was detected as outlier by IQR technique.

By the way there are many other techniques by which you can remove outliers. You can explore on more interesting techniques
available.

We know you must be having many questions in you mind like:
- Which technique we should use and why?
- Is it neccessary that whatever detected as outlier are really outliers?

Dont't worry these delimma is faced my many data analyst. We provide you with good references below for you to explore further on this

- https://www.theanalysisfactor.com/outliers-to-drop-or-not-to-drop/
- https://www.researchgate.net/post/Which-is-the-best-method-for-removing-outliers-in-a-data-set

Lets find unique values and there counts in each column in df using value counts function.

Reference: https://www.youtube.com/watch?v=8wRfskrpTIk

In [27]:
#Replicate the below output

In [28]:
# Plot a pie chart to visualise unique value counts in column 'Make' using matplotlib

## Visualising Univariate Distributions

Reference:-https://www.youtube.com/watch?v=lI5-7rX3xPY

We will use seaborn library to visualize eye catchy univariate plots. 

Do you know? you have just now already explored one univariate plot. guess which one? Yeah its box plot.

### 1 . Histogram & Density Plots

<p style='text-align: right;'> 15 points</p>

Histograms and density plots show the frequency of a numeric variable along the y-axis, and the value along the x-axis. The ```sns.distplot()``` function plots a density curve. Notice that this is aesthetically better than vanilla ```matplotlib```.

In [29]:
#ploting distplot for variable HP

Since seaborn uses matplotlib behind the scenes, the usual matplotlib functions work well with seaborn. For example, you can use subplots to plot multiple univariate distributions.
- Hint: use matplotlib subplot function

Reference:- https://www.youtube.com/watch?v=Tf-dgRR1PMA

In [30]:
# plot all the columns present in list l together using subplot of dimention (2,3).

## 2. Bar plots

<p style='text-align: right;'> 10 points</p>

Plot a histogram depicting the make in X axis and number of cars in y axis. <br>

In [31]:
#replicate below chart keeping nlargest as 40 and figsize as (12,6)

### 3. Count Plot

Reference:-https://www.youtube.com/watch?v=8U5h3EJuu8M

<p style='text-align: right;'> 10 points</p>

A count plot can be thought of as a histogram across a categorical, instead of quantitative, variable.

 Plot a countplot for a variable Transmission vertically with hue as Drive mode

# Visualising Bivariate Distributions


Bivariate distributions are simply two univariate distributions plotted on x and y axes respectively. They help you observe the relationship between the two variables.

## 1. Scatterplots
Reference:- https://www.youtube.com/watch?v=Is9bc-WA-c8

Scatterplots are used to find the correlation between two continuos variables. <br>
<p style='text-align: right;'> 10 points</p>

Using scatterplot find the correlation between 'HP' and 'Price' column of the data.

In [32]:
## Your code here -

## 2. Lineplot 

Reference: https://www.youtube.com/watch?v=CMRVEKf9jWA

<p style='text-align: right;'> 10 points</p>


Plot a lineplot where x axis is 'HP' and y axis show 'Price'
Size of graph - (10,5)

Optional Question: - What happens to Price as we increase HP? is the trend linear?

## 3. Box plot w.r.t various variables

Reference:- https://www.youtube.com/watch?v=KoTHJPzpw0c

<p style='text-align: right;'> 20 points</p>

In [33]:
# Plot boxplot of 'Price' across various 'Drive Mode'

Try to understand the above plot. Let us help you to understand it. This chart tells you that the Price of front wheel drive, on an average, lower than the other three categories. 

Let's now plot the other important variable - 'Transmission'

In [34]:
# plot boxplot of 'Price' across various 'Transmission'

Hey Techie!, just give a try to explain what insight do you get from the above chart.

In [35]:
#### comment below

You can **visualise the distribution across two categorical variables** using the ```hue= ``` argument.

In [36]:
# plot a boxplot with Transmission on x axis and Price on y axis. along with huw as Drive mode
plt.figure(num=None, figsize=(12, 8), dpi=80, facecolor='w', edgecolor='k')

Wow!! If you have plotted this for first time then this plot might look very complicated. But no, its shows some really simple and interesting insights.
Can you help us what do you think about the above chart.
Please comment below:

In [37]:
#Comment

## 4. joint distributions

Reference:-https://www.youtube.com/watch?v=LrSLBbe6pGY
<p style='text-align: right;'> 30 points</p>


Seaborn's jointplot displays a relationship between 2 variables (bivariate) as well as 1D profiles (univariate) in the margins. This plot is a convenience class that wraps JointGrid

In [38]:
# joint plots of MPG_H and MPG-C

In [39]:
# joint plots of Price and Year

You can adjust the arguments of the jointplot() to make the plot more readable. For e.g. specifying kind=hex will create a 'hexbin plot'.

In [40]:
# plotting hex plot for Prize and HP
# hex plot

## 5. Plotting Aggregated Values across Categories

Reference:-https://www.youtube.com/watch?v=yWYWmeuH7no

### Bar Plots - Mean, Median and Count Plots

<p style='text-align: right;'> 30 points</p>



Bar plots are used to **display aggregated values** of a variable, rather than entire distributions. This is especially useful when you have a lot of data which is difficult to visualise in a single figure. 

For example, say you want to visualise and *compare the Price across Cylinders*. The ```sns.barplot()``` function can be used to do that.

In [41]:
# bar plot with default statistic=mean between Cylinder and Price

Hey you smarty!!. An Amazing fact for you:
Note that, **by default, seaborn plots the mean value across categories**, though you can plot the count, median, sum etc. Also, barplot computes and shows the confidence interval of the mean as well.

When you want to visualise having a large number of categories, it is helpful to plot the categories across the y-axis. Let's now *drill down into Transmission sub categories*.

In [42]:
# Plotting categorical variable Transmission across the y-axis

Plot bar plot for Price and Transmission with hue="Drive Mode"

In [43]:
plt.figure(num=None, figsize=(12, 8), dpi=80, facecolor='w', edgecolor='k')

# specify hue="Drive Mode"

These plots looks beutiful isn't it? In Data Analyst life such charts are there unavoidable friend.:)

# Multivariate Plots

# 1. Pairplot

Refrence:- https://www.youtube.com/watch?v=TexdD7t0IKU

<p style='text-align: right;'> 10 points</p>

Plot a pairplot for the dataframe df.

## 2. Multivariate scatter plots

<p style='text-align: right;'> 10 points</p>

This function combines regplot() and FacetGrid. It is intended as a convenient interface to fit regression models across conditional subsets of a dataset.

plot multivariate scatter plot using lmplot function of seaborn between HP and Price using hue as Transmission keeping fit_reg False.

In [44]:
plt.figure(figsize=(15,5))

Seems so interesting plot. You can clearly see in above output that the cost price increases for automated_manual transmission cars gradually

## 3. Parallel Coordinates

Reference:-https://www.youtube.com/watch?v=QVBQdS-uL_I

<p style='text-align: right;'> 20 points</p>


A parallel coordinates plot provides another way of visualizing data across many variables.

In a Parallel Coordinates Plot, each variable is given its own axis and all the axes are placed in parallel to each other. Each axis can have a different scale, as each variable works off a different unit of measurement, or all the axes can be normalised to keep all the scales uniform. Values are plotted as a series of lines that connected across all the axes. This means that each line is a collection of points placed on each axis, that have all been connected together.

In [45]:
#copy l into another variable l1 and remove Price 'element' from  l1

Plot a parallel plot with columns present in l1 in df with respect to Cylinders

In [46]:
from pandas.plotting import parallel_coordinates
plt.figure(figsize=(15,5))

#complete the code

from the above plot we can see that mostly Cylinder 4 is majorly spread in MPG_H and MPG_C. HP variable shows some growth w.r.t year and goes constant for MPG_H and MPG-C.

## 4.  Heatmaps

Reference:- https://www.youtube.com/watch?v=ZSwXRn50lnA

A heat map is a two-dimensional representation of information with the help of colors. Heat maps can help the user visualize simple or complex information

<p style='text-align: right;'> 20 points</p>
Using heatmaps plot the correlation between the features present in the dataset.

In [47]:
#find the correlation of features of the data df

In [48]:
# Using the correlated df, plot the heatmap 
# set cmap = 'BrBG', annot = True - to get the same graph as shown below 
# set size of graph = (12,8)

 The above heatmap plot shows correlation between various variables in the colored scale of -1 to 1. 

Amazing work done ! you have really made eye catchy visualization plots so far.
Did you felt its complicate to understand the above plot?. Hey smarty don't worry, in near assignments you will have enough practise to analyse and prepare insights from such plots that you will become pro in this field. 

Then soon you will be like below meme
![image.png](attachment:image.png)

---------------------------------

# Have a sweet cookie:) Congratulations! you have completed the 6th milestone challenge too. 

--------------------------------

# FeedBack
We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

Please fill this feedback form  https://zfrmz.in/MtRG5oWXBdesm6rmSM7N

-----------------------------------