<a href="https://colab.research.google.com/github/sureshmecad/CloudyML-AI-FOR-ALL/blob/main/Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center> <u>Data Structures <u> </center>

## 1. Lists

Reference:- https://www.youtube.com/watch?v=ohCDWZgNIU0

<p style='text-align: right;'> 1+1+1 = 3 points</p>

#### 1.1 Create an empty list with the name ‘a’, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a = []

In [2]:
# print the value of a
print(a)

[]

In [3]:
# print the type of a
type(a)

list

#### 1.2.Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

<p style='text-align: right;'> 1+1+1+1+1+1+1+1 = 7 points</p>

In [4]:
#code here
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [5]:
#code here
len(languages)

5

Using for loop iterate and print all the elements in the list

In [6]:
#code here
for i in languages:
  print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [7]:
#code here
temp = languages[1]

Print the value of temp and type(temp)

In [8]:
#code here
print(temp)
print(type(temp))

Python
<class 'str'>

Using list comprehension, print the last two elemets of list

In [9]:
# code here
languages[3:5]

['Scala', 42]

Append the element 'Java' in the list

In [10]:
#code here
languages.append('Java')

Remove the element 42 from the list and print the list

In [11]:
#code here
languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

#### 1.3. Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

<p style='text-align: right;'> 1+1+1+1+1+1+1 = 6 points</p>

In [12]:
#code here
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [13]:
#code here
colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [14]:
# code here
colors.insert(1, 'Orange')
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Print the list

In [15]:
# code here
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [16]:
# code here
colors2 = ['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [17]:
#code here
colors.extend(colors2)

Print len of colors and its elements

In [18]:
# code here
print(len(colors))
print(colors)

7
['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [19]:
# code here
colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

#### 1.4. Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

<p style='text-align: right;'> 7 points</p>

In [20]:
# code here
sent = "Coronavirus Caused Lockdowns Around The World."

Use split function to convert the string into a list of words and save it in variable words and print the same

In [21]:
# code here
s = sent.split()
print(s)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Using list comprehensions, convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [22]:
# code here
words_lower = []
for i in range(len(s)):
  words_lower.append(s[i].lower())

print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‘country’ is in the list

In [76]:
# code here
data_string = "country"
res = [ele for ele in words_lower if(ele in data_string)]
print(str(bool(res)))

False

Remove the element ‘the’ from the list and print the list.

In [77]:
# code here
words_lower.remove("the")
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [79]:
#code here
x4 = words_lower[0:4]
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

In [80]:
print (x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [82]:
#code here
str = " "
print(str.join(x4))

coronavirus caused lockdowns around

## 2. Sets

Reference:-https://www.youtube.com/watch?v=sBvaPopWOmQ

#### 2.1. Create stud_grades = ['A','A','B','C','C','F']

<p style='text-align: right;'> 7 points</p>

In [28]:
#code here

Print the len of stud_grades

In [29]:
#code here

Create a new variable, stud_grades_set = set(stud_grades)

In [30]:
#code here

Print stud_grades_set.

In [31]:
#code here

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [32]:
#code here

Add a new element ‘G’ to stud_grades_set

In [33]:
#code here

Add element 'F' to stud_grades_set. and print it.

In [34]:
#code here

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [35]:
#code here

Print the elements and the length of stud_grades_set

In [36]:
#code here

#### 2.2. Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

<p style='text-align: right;'> 6 points</p>

In [37]:
#code here

Print color and fruits

In [38]:
#code here

Create colors_set, and fruits_set. (using set() ) and print them

In [39]:
#code here

Find the union of both the sets.

In [40]:
#code here

Find the intersection of both the sets

In [41]:
#code here

Find the elements which are Fruits but not colors (using set.difference() )

In [42]:
#code here

## 3. TUPLES

Reference:-https://www.youtube.com/watch?v=NI26dqhs2Rk

#### 3.1 . Create temp = [17, ’Virat’, 50.0]

<p style='text-align: right;'> 7 points</p>

In [43]:
#code here

Iterate through temp and print all the items in temp

In [44]:
#code here

replace first element with 11 in temp

In [45]:
#code here

Set temp1 = tuple(temp)

In [46]:
#code here

Iterate through temp1 and print all the items in temp1.

In [47]:
#code here

replace first element with 17 in temp1

In [48]:
#code here

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

#### 3.2 . Create city = ("Bangalore", 28.9949521, 72)

<p style='text-align: right;'> 6 points</p>

In [49]:
#code here

Print first element of city

In [50]:
#code here

Create city2 = (‘Chennai’, 30.01, 74)

In [51]:
#code here

Create cities which consist of city and city2

In [52]:
#code here

Print cities

In [53]:
#code here

Print type of first element in cities

In [54]:
#code here

print the type of cities

In [55]:
#code here

Hey that implies you made a nested tuples!!

## 4. DICT

Reference:-https://www.youtube.com/watch?v=XCcpzWs-CI4

<p style='text-align: right;'> 11 points</p>

#### 4.1 Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [56]:
#code here

Print the value of d[0]

In [57]:
#code here

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [58]:
#code here

Print the type of actor

In [59]:
#code here

Store the value of d[‘list’] in new variable l.

In [60]:
#code here

Print the type of l.

In [61]:
#code here

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [62]:
#code here

Merge d1 into d.

In [63]:
#code here

print d

In [64]:
#code here

Print all the keys in d

In [65]:
#code here

Print all the values in d

In [66]:
#code here

Iterate over d, and print each key, value pair as given in output

In [67]:
#code here

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [68]:
#code here

# --------------------------------------------------------------------

# Hurray!! Second milestone completed. The next challenge is waiting for you :)

# --------------------------------------------------------------------

-----------------
# FeedBack
We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

Please fill this feedback form  https://zfrmz.in/MtRG5oWXBdesm6rmSM7N